{% macro render_board(name = '', jobs) -%}
    <div class="eight columns offset-by-two board-admin">
        <h2>{{ name }}</h2>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Selskap</th>
                    <th>Tittel</th>
                    <th>Linje</th>
                    <th>Søknadsfrist</th>
                    {% if name == 'Aktive jobber' %}
                    <th>Levetid</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td><a href="/admin/selskap/{{ job.company.id }}"><strong>{{ job.company.name }}</strong></a></td>
                    <td><a href="/admin/stilling/{{ job.id }}">{{ job.title }}</a></td>
                    <td>Datateknikk/Informatikk</td>
                    <td>{{ job.human_readable_due_date }}</td>
                    {% if name == 'Aktive jobber' %}
                    <td><progress max="100" value="50"></progress></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}

{% macro render_scraped_list(scraped_jobs, name) -%}
    <div class="eight columns offset-by-two scraped-jobs-admin">
        <h2>{{ name }}</h2>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Selskap</th>
                    <th>Tittel</th>
                    <th>Søknadsfrist</th>
                </tr>
            </thead>
            <tbody>
            {% for scraped_job in scraped_jobs %}
                <tr>
                    <td><strong>{{ scraped_job.company }}</strong></td>
                    <td><a href="/admin/skrapt/{{ scraped_job.guid }}">{{ scraped_job.title }}</a></td>
                    <td>{{ scraped_job.due_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}

{% macro render_new_buttons() -%}
    <div class="row new-buttons">
        <div class="two columns offset-by-four">
            <a href="/admin/stilling" class="button">Ny stilling</a>
        </div>

        <div class="two columns">
            <a href="/admin/selskap" class="button">Nytt selskap</a>
        </div>
    </div>
{%- endmacro %}
