{% macro render_back_links(logged_in = False, edit_url = False, admin_url = True, mail_url = False, back_to_job_url = False, preview_url = False, scraped_url = False) -%}
    <div class="row navigation">
        <div class="eight columns offset-by-two">
            <a href="/">← Tilbake til forsiden</a>
            {% if logged_in %}
                {% if edit_url %}
                |
                <a href="{{ edit_url }}">Rediger</a>
                {% endif %}
                {% if back_to_job_url %}
                |
                <a href="/admin/stilling/{{ back_to_job_url }}">Tilbake til stilling</a>
                {% endif %}
                {% if mail_url %}
                |
                <a href="/admin/stilling/{{ mail_url }}/mail">Send e-post</a>
                {% endif %}
                {% if preview_url %}
                |
                <a href="/stilling/{{ preview_url[0] }}/{{ preview_url[1] }}">Forhåndsvis</a>
                {% endif %}
                {% if scraped_url %}
                |
                <a href="{{ scraped_url }}">Besøk kilde</a>
                {% endif %}
                {% if admin_url %}
                |
                <a href="/admin">Til administrasjonspanel →</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}
