{% macro render_back_links(logged_in = False, edit_url = False) -%}
    <div class="row navigation">
        <div class="six columns offset-by-two">
            <a href="/">← Tilbake til forsiden</a>
            {% if logged_in %}
                {% if edit_url %}
                |
                <a href="{{ edit_url }}">Rediger</a>
                {% endif %}
            |
            <a href="/admin">Til administrasjonspanel →</a>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
