{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Rediger {{ job.title }}{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/admin">← Tilbake til administrasjon</a>
            </div>

            <form id="edit" method="post">

                <label for="title">Tittel</label>
                <input name="title" type="text" value="{{ job.title }}" />

                <label for="position">Stillingstype</label>
                <input name="position" type="text" value="{{ job.position }}" />

                <label for="place">Sted</label>
                <input name="place" type="text" value="{{ job.place }}" />

                <label for="company">Selskap</label>
                <select name="company">
                {% for company in companies %}
                    {% if company.id == job.company.id %} 
                    <option value="{{ company.id }}" selected>{{ company.name }}</option>
                    {% else %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>

                <textarea name="description" id="description">
                {{ job.description|safe }}
                </textarea>

                <input class="button" type="submit" value="Lagre" />

                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.replace('description'); 
                });
                </script>
            </form>

{% endblock %}
