{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Rediger {{ job.title }}{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

    {{ navigation.render_back_links(logged_in = True) }}

    <form method="post">
            <div class="row">         
                <div class="two columns offset-by-two"> 

                    <label for="place">Sted</label>
                    <input name="place" type="text" value="{{ job.place }}" />

                    <label for="status">Status</label>
                    <select name="status">
                    {% for status in statuses %}
                        {% if job.status == status %} 
                        <option value="{{ status }}" selected>{{ status|title() }}</option>
                        {% else %}
                        <option value="{{ status }}">{{ status|title() }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <label for="company">Selskap</label>
                    <select name="company">
                    {% for company in companies %}
                        {% if company.id == job.company.id %} 
                        <option value="{{ company.id }}" selected>{{ company.name }}</option>
                        {% else %}
                        <option value="{{ company.id }}">{{ company.name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>

                <div class="four columns offset-by-two"> 

                    <label for="position">Stillingstype</label>
                    <input name="position" type="text" value="{{ job.position }}" />

                    <label for="due_date">Søknadsfrist</label>
                    <input name="due_date" type="date" value="{{ job.due_date }}"/>

                    <label for="start_date">Tiltredelsesdato</label>
                    <input name="start_date" type="date" value="{{ job.start_date }}"/>
                </div>
            </div>


            <div class="row">
                
                <div class="eight columns offset-by-two">
                    <hr>
                    
                    <label for="title">Tittel</label>
                    <input name="title" type="text" value="{{ job.title }}" class="u-full-width"/>

                    <textarea name="description" id="description">
                    {{ job.description }}
                    </textarea>

                    <input class="button button-primary" type="submit" value="Lagre" />
                </div>
            </div>
    </form>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.replace('description'); 
    });
    </script>

{% endblock %}
