{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Rediger {{ job.title }}{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

    {{ navigation.render_back_links(logged_in = True) }}

            <div class="row">
                <div class="eight columns offset-by-two">
                    
                    <form>
                        <div class="row">
                            <div class="field five columns">
                                <label for="template">Mal</label>
                                <select name="template" class="u-full-width">
                                    {% for template in templates %}
                                        {% if template.id == current_template.id %} 
                                        <option value="{{ template.id }}" selected>{{ template.title|title() }}</option>
                                        {% else %}
                                        <option value="{{ template.id }}">{{ template.title|title() }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field five columns">
                                <input style="margin-top:25px;" class="button button-primary" type="submit" value="Velg" />
                            </div>
                        </div>
                    </form>
                    
                    <form action="/admin/stilling/{{ job.id }}/mail" method="post">

                        <div class="row">
                            <div class="field five columns">
                                <label for="recipient">Mottaker</label>
                                <input name="recipient" type="email" class="u-full-width" required />
                            </div>
                            <div class="field five columns">
                                <label for="recipient_name">Navn på mottaker</label>
                                <input name="recipient_name" type="text" class="u-full-width" />
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="field five columns">
                                <label for="subject">Emne</label>
                                <input name="subject" type="text" class="u-full-width" value="{{ current_template.subject }}" required/>
                            </div>
                            <div class="field five columns">
                                <label for="when">Sendes</label>
                                <input name="when" type="datetime-local" class="u-full-width" value="{{ reccomended_send_date.date.strftime('%Y-%m-%dT%H:%M') }}" required />
                            </div>
                        </div>

                        <div class="row">
                            <label for="body">Melding</label>
                            <textarea name="body" class="u-full-width" required>{{ current_template }}</textarea>
                            <input class="button button-primary" type="submit" value="Send e-post" />
                        </div>
                    </form>
                </div>
            </div>

        <form method="post">

            <div class="row">         
                
                <div class="eight columns offset-by-two">
                    <hr>
                </div>

                <div class="four columns offset-by-two"> 


                    <label for="place">Sted</label>
                    <input name="place" type="text" class="u-full-width" value="{{ job.place }}" />

                    <label for="status">Status</label>
                    <select name="status" class="u-full-width">
                    {% for status in statuses %}
                        {% if job.status == status %} 
                        <option value="{{ status }}" selected>{{ status|title() }}</option>
                        {% else %}
                        <option value="{{ status }}">{{ status|title() }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <label for="company">Selskap</label>
                    <select name="company" class="u-full-width">
                    {% for company in companies %}
                        {% if company.id == job.company.id %} 
                        <option value="{{ company.id }}" selected>{{ company.name }}</option>
                        {% else %}
                        <option value="{{ company.id }}">{{ company.name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>

                <div class="four columns"> 

                    <label for="position">Stillingstype</label>
                    <input name="position" type="text" class="u-full-width" value="{{ job.position }}" />

                    <label for="due_date">Søknadsfrist</label>
                    <input name="due_date" type="date" class="u-full-width" value="{{ job.due_date.date }}"/>

                    <label for="start_date">Tiltredelsesdato</label>
                    <input name="start_date" type="date" class="u-full-width" value="{{ job.start_date.date }}"/>
                </div>
            </div>


            <div class="row">
                
                <div class="eight columns offset-by-two">
                    
                    <label for="title">Tittel</label>
                    <input name="title" type="text" value="{{ job.title }}" class="u-full-width"/>

                    <textarea name="description" id="description">
                    {{ job.description }}
                    </textarea>

                    <input class="button button-primary" type="submit" value="Lagre" />
                </div>
            </div>
    </form>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.replace('description'); 
    });
    </script>

{% endblock %}
