{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Lag ny jobb{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/admin">← Tilbake til administrasjon</a>
            </div>

            <form id="edit" method="post">

                <label for="title">Tittel</label>
                <input name="title" type="text" placeholder="Tittel" />

                <label for="position">Stillingstype</label>
                <input name="position" type="text" placeholder="Stillingstype" />

                <label for="due_date">Søknadsfrist</label>
                <input name="due_date" type="date" />

                <label for="place">Sted</label>
                <input name="place" type="text" placeholder="Sted" />

                <label for="company">Selskap</label>
                <select name="company">
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
                </select>

                <textarea name="description" id="description">
                </textarea>

                <input class="button" type="submit" value="Lagre" />

                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.replace('description'); 
                });
                </script>
            </form>

{% endblock %}
