node_modules
npm-debug.log
assets/logos/*
*.swp
*.pyc
/config
src/crawler/elite-proxy-finder
idea
src/webserver/assets/logos
logs/*.log
src/mail/templates/*
src/crawler/formulas
src/crawler/runner.py
