* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

/* Header */
#header {
    overflow:hidden;
    width:100%;
}

#header > a > img {
    width:100%;
}

#board, #about, #notfound, #error, #job {
    padding-top: 3em;
}

/* Board */
.listing > table > tbody > tr {
    cursor:pointer;
}

span.job-title {
    color:#f2321e;
}

/* Intro paragraphs*/
.intro > p:nth-child(1) {
    margin-bottom:10px;
}

.intro > p:nth-child(1) > strong {
    font-style:italic;
}

.intro {
    font-size: 16px;
    line-height: 24px;
}

/* Search (well) */
input#search {
    font-size:11px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 35px;
}
.left-inner-addon span {
    position: absolute;
    padding: 8px 12px;
    padding-bottom:20px;
    pointer-events: none;
}

/* Listing */
.listing > h3 {
    font-weight:600;
    font-size:16px;
    margin-bottom:20px;
}

/* Color tweaks */
a, a:hover {
    color: #f4311d;
}

.badge-orange {
    color:#fff;
    background-color: #f54330;
}

.orange {
    color: #f2321e;
}

.btn-custom-lighten, .btn:hover {
    color:#fff;
    background-color: #f54330;
}

/* Job */
.company > img {
    display:block;
    margin: 0 auto;
}

.company > .about {
    margin-top:15px;
}

/* Footer */
#footer {
    margin-top:50px;
    color: #777;
}
