{% extends "base.html" %}
{% block title %}Side ikke funnet{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}
            {{ navigation.render_back_links() }}

            <div class="row section">
                <div class="eight columns offset-by-two">
                    <h1>404 - Vi fant ikke siden</h1>
                    <p>
                        Vi fant dessverre ikke siden du lette etter.
                    </p>
                </div>
            </div>
{% endblock %}
