<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Studjobb</title>

        <meta name="title" content="Studjobb">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/assets/normalize.css">
        <link rel="stylesheet" href="/assets/skeleton.css"> 
        <link rel="stylesheet" href="/assets/style.css"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" />

        <meta property="og:title" content="Studjobb">
        <meta property="og:description" content="Jobb for studenter og nyutdannede">
        <meta property="og:url" content="http://studjobb.no">
        <meta property="og:type" content="website">

        {% include "analytics.html" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <a href="/">
            <div class="header"></div>
        </a>
        
        <div class="container">
            {% block container %}
            {% endblock %}

            <div class="footer row">
                {% block footer %}
                <p class="four columns offset-by-two notice">&copy; Studjobb 2016 Org.nummer: 997452364</p>
                <p class="four columns about-us"><a href="/om">Om oss</a></p>
                {% endblock %}
            </div>
        </div>

    </body>
</html>
