{% extends "base.html" %}
{% block title %}Nyeste jobber{% endblock %}
{% block container %}
            <div id="welcome">
                <p>
                    <strong>Studjobb</strong> er for studenter ved NTNU
                    som ønsker å finne jobb, startups og oppdrag. Kom i
                    kontakt med bedrifter som ønsker å ansette nyutdannede
                    og nåværende studenter!
                </p>
                <p>
                    Ikke gå glipp av drømmejobben! Hver onsdag sender vi
                    deg aktuelle stillinger på e-post. Gjør som over 200
                    andre studenter og <strong><a href="http://eepurl.com/TeYgv">klikk her</a></strong>
                    for å melde deg på!
                </p>
            </div>
            <div id="search">
                <input type="text" name="q" placeholder="Søk etter jobber ..."> 
                <a href="mailto:michael@studjobb.no" class="button post-job">Legg ut stilling</a>
            </div>
            <div id="board">
                <h1>Data & IT</h1>
                <ul>
                    {% for job in jobs %}
                    <li class="entry">
                        <a href="/stilling/{{ job.id }}">
                            <span class="company">{{ job.company.name }}</span>
                            <span class="job">{{ job.title }}</span>
                            <span class="due_date">{{ job.human_readable_due_date }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}
