{% include "header.html" %}
        <a href="/">
            <div id="header">

            </div>
        </a>
        <div id="container">
            <div id="welcome">
                <p>
                    <strong>Studjobb</strong> er for studenter som ønsker
                    å finne jobb, startups og oppdrag. Kom i kontakt med
                    bedrifter som ønsker å ansette nyutdannede og nåværende 
                    studenter!
                </p>
                <p>
                    Ikke gå glipp av drømmejobben! Hver onsdag sender vi
                    deg aktuelle stillinger på e-post. Gjør som over 200
                    andre studenter og klikk her for å melde deg på!
                </p>
            </div>
            <div id="search">
                <input type="text" name="q" placeholder="Søk etter jobber ..."> 
                <a href="#" class="button post-job">Legg ut stilling</a>
            </div>
            <div id="board">
                <h1>Data & IT</h1>
                <ul>
                    {% for job in jobs %}
                    <li class="entry">
                        <a href="#">
                            <span class="company">DNB</span>
                            <span class="job">{{ job.title }}</span>
                            <span class="due_date">{{ job.due_date }}</span>
                        </a>
                    </li>
                    {% endfor %}

                    <li class="entry">
                        <a href="#">
                            <span class="company">DNB</span>
                            <span class="job">Codemonkey til frontend søkes!</span>
                            <span class="due_date">Aug 8</span>
                        </a>
                    </li>
                    <li class="entry">
                        <a href="#">
                            <span class="company">Visma</span>
                            <span class="job">Javascript-utvikler med TDD-erfaring søkes!</span>
                            <span class="due_date">Aug 9</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
{% include "footer.html" %}
