{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Rediger {{ job.title }}{% endblock %}
{% block container %}
            <p class="back"><a href="/admin">← Tilbake til administrasjon</a></p>

            <form id="edit" method="post">
                <input name="title" type="text" value="{{ job.title }}" />

                <textarea name="description" id="description">
                {{ job.description|safe }}
                </textarea>

                <input class="button" type="submit" value="Lagre" />

                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.replace('description'); 
                });
                </script>
            </form>

{% endblock %}
