{% extends "base.html" %}
{% block title %}{{ job.title }}{% endblock %}
{% block container %}
            <p class="back"><a href="/">← Tilbake til forsiden</a></p>

            <div id="job">
                <div id="meta">
                    <div id="company">
                        <img class="logo" src="/{{ job.company.logo.url }}">
                    </div>
                    <div id="apply">
                        <a href="#" class="button">Søk nå!</a>
                        <ul>
                            <li>Sted: <strong>Trondheim</strong></li>
                            <li>Stilling: <strong>Fast</strong></li>
                            <li>Frist: <strong>{{ job.remaining_days_till_due_date }} dager</strong></li>
                            <li>Tiltredelse: <strong>Etter avtale</strong></li>
                        </ul>
                    </div>
                </div>
            </div><!--
         --><div id="about">
                <h1 class="title">{{ job.title }}</h1>

                <h2>Om {{ job.company.name }}</h2>
                {{ job.description|safe }}
            </div>
{% endblock %}
