{% include "header.html" %}
        <a href="/">
            <div id="header">

            </div>
        </a>
        <div id="container">
            <p class="back"><a href="/">← Tilbake til forsiden</a></p>

            <div id="job">
                <div id="about">
                    <h1 class="title">{{ job.title }}</h1>

                    <h2>Om {{ job.company.name }}</h2>
                    <p>
                    Brønnøysundregistrene sørger for orden og oversikt over økonomiske forhold i Norge. Vårt fokus på digitalisering og forenkling av kontakten mellom myndigheter, næringsliv og befolkningen legger grunnlag for økt verdiskapning nasjonalt. Vi er 580 ansatte. Mer om oss på brreg.no og altinn.no - See more at:              
                    </p>

                    {{ job.description }}
                </div><!--
            !--><div id="meta">
                    <div id="company">
                        <img class="logo" src="/assets/logos/bekk.png">
                    </div>
                    <div id="apply">
                        <a href="#" class="button">Søk nå!</a>
                        <ul>
                            <li>Sted: <strong>Trondheim</strong></li>
                            <li>Stilling: <strong>Fast</strong></li>
                            <li>Frist: <strong>4 dager</strong></li>
                            <li>Tiltredelse: <strong>Etter avtale</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% include "footer.html" %}
