{% extends "base.html" %}
{% block title %}Administrasjon{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/">← Tilbake til forsiden</a>
                |
                <a class="new" href="/admin/selskap">Lag et nytt selskap</a>
                |
                <a class="new" href="/admin/stilling">Lag en ny stilling</a>
            </div>

            {% include "admin/board.html" %}
            {% include "admin/pending.html" %}
            {% include "admin/scraped_list.html" %}
{% endblock %}
