{% extends "base.html" %}
{% block title %}Om oss{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

            {{ navigation.render_back_links() }}
            <div class="row section about-us">
                <div class="eight columns offset-by-two">
                    <h1>Om oss</h1>
                    <p>
                        Studjobb ble laget for å samle stillingsannonser rettet mot
                        studenter på ett sted. Mange studenter ønsker relevant arbeidserfaring,
                        men det er ofte vanskelig å finne stillinger som sikter seg inn på
                        studenter.
                    </p>
                    <p>
                        Nettstedet begynte som et en mail-liste, men utviklet seg til å bli
                        en digital oppslagstavle for stillingsannonser.
                    </p>
                </div>
            </div>
{% endblock %}
