{% extends "base.html" %}
{% block title %}{{ job.title }}{% endblock %}
{% block container %}
            
            <!-- Create macro for nav -->

            <div class="row section job">

                <div class="three columns u-pull-right">

                    <div class="row">
                        <img class="u-max-full-width" src="/{{ job.company.logo.url }}">
                    </div>

                    <div class="row">
                        <a href="#" class="button button-primary u-full-width">Søk nå!</a>
                    </div>

                    <div class="row job-meta">
                        <ul>
                            <li>Sted: <strong>{{ job.place }}</strong></li>
                            <li>Stilling: <strong>{{ job.position }}</strong></li>
                            <li>Søknadsfrist: <strong>{{ job.remaining_days_till_due_date }} dager</strong></li>
                            <li>Tiltredelse: <strong>{{ job.start_date or "Ikke oppgitt" }}</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="six columns offset-by-two u-pull-left">
                    <h1 class="title">{{ job.title }}</h1>
                    {{ job.description|safe }}
                </div>


            </div>

{% endblock %}
