            <div class="row section search">

                <div class="five columns offset-by-two">
                    <form>
                        <div class="six columns">
                            <input type="text" name="q" required placeholder="Søk etter noe ..."> 
                        </div>
                        <div class="four columns">
                            <input type="submit" class="button" value="Søk" />
                        </div>
                    </form>
                </div>

                <div class="three columns">
                    <a href="http://eepurl.com/TeYgv" class="button">Abonner</a>
                </div>
            </div>
