            <div class="row section welcome">
                <div class="eight columns offset-by-two">
                    <p>
                        <strong>Studjobb</strong> er for studenter ved NTNU
                        som ønsker å finne jobb, startups og oppdrag. Kom i
                        kontakt med bedrifter som ønsker å ansette nyutdannede
                        og nåværende studenter!
                    </p>

                    <p>
                        Ikke gå glipp av drømmejobben! Hver onsdag sender vi
                        deg aktuelle stillinger på e-post. Gjør som over 200
                        andre studenter og <strong><a href="http://eepurl.com/TeYgv">klikk her</a></strong>
                        for å melde deg på!
                    </p>
                </div>
            </div>
