{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Ny e-post{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

    {{ navigation.render_back_links(logged_in = True) }}

            <div class="row">
                <div class="eight columns offset-by-two">
                    
                    <form>
                        <div class="row">
                            <div class="field five columns">
                                <label for="template">Mal</label>
                                <select name="template" class="u-full-width">
                                    {% for template in templates %}
                                        {% if template.id == current_template.id %} 
                                        <option value="{{ template.id }}" selected>{{ template.title|title() }}</option>
                                        {% else %}
                                        <option value="{{ template.id }}">{{ template.title|title() }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field five columns">
                                <input style="margin-top:25px;" class="button button-primary" type="submit" value="Velg" />
                            </div>
                        </div>
                    </form>
                    
                    <form action="/admin/stilling/{{ job.id }}/mail" method="post">

                        <div class="row">
                            <div class="field five columns">
                                <label for="recipient">Mottaker</label>
                                <input name="recipient" type="email" class="u-full-width" required />
                            </div>
                            <div class="field five columns">
                                <label for="recipient_name">Navn på mottaker</label>
                                <input name="recipient_name" type="text" class="u-full-width" />
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="field five columns">
                                <label for="subject">Emne</label>
                                <input name="subject" type="text" class="u-full-width" value="{{ current_template.subject }}" required/>
                            </div>
                            <div class="field five columns">
                                <label for="when">Sendes</label>
                                <input name="when" type="datetime-local" class="u-full-width" value="{{ reccomended_send_date.date.strftime('%Y-%m-%dT%H:%M') }}" required />
                            </div>
                        </div>

                        <div class="row">
                            <label for="body">Melding</label>
                            <textarea name="body" class="u-full-width" required>{{ current_template.text }}</textarea>
                            <input class="button button-primary" type="submit" value="Send e-post" />
                        </div>
                    </form>
                </div>
            </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.replace('description'); 
    });
    </script>

{% endblock %}
