* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

input {
    border: none;
    font-size: 14px;
}

#header {
    margin-bottom: 25px;
    width: 100%;
    height: 250px;
    background: url('/assets/header-min.jpg') no-repeat;
    background-position: center; 
    background-size: cover;
}

#container, #footer {
    margin-right: auto;
    margin-left: auto;
    width: 720px;
}

.notice {
    float: left;
}

.about-us {
    float: right;
}

/* Welcome */
#welcome {
    margin-bottom: 25px;
}

#welcome p:first-child {
    margin-bottom: 15px;
}

/* Search */
#search {
    padding:10px;
    background-color: #efefef;
    margin-bottom: 25px;
}

#search > input {
    width: 33.333%; 
}

#search > a.button {
    float: right;
    width: 33.333%;
}

.button {
    padding: 10px 12px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    font-size: 14px;
    color: black;
}

/* About */
#about.us > * {
    margin-bottom: 10px;
}

/* Board */
#board > ul {
    list-style-type: none;
}

#board > ul > li {
    display: block;
    border-bottom: 1px solid #ccc;
}

#board.admin {
    margin-bottom: 50px;
}

/* Job entry */
.entry {
    padding: 10px 0px 10px 0px;
}

.entry > a {
    text-decoration: none;
    color: #000;
}

.entry .company {
    display: inline-block;
    min-width: 100px;
    font-weight: bold;
}

.entry .job {
    text-decoration: underline;
    color: #926837;
}

.entry .due_date {
    float: right;
}

/* Job */
#job > #about {
    display: inline-block;
    width: 66.666%;
}

#job > #about > h1.title {
    margin-bottom: 25px;
}

#job > #about > p, #about > p {
    margin-bottom: 25px;
}

#job > #meta {
    display: inline-block;
    width: 33.333%;
    float: right;
    background-color:#efefef;
    margin-left: 45px;
    margin-bottom: 45px;
}

#meta > div {
    padding: 10px;
}

#company > img.logo {
    width: 100%;
    margin-bottom:10px;
}

#apply > a.button {
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

#apply > ul {
    list-style-type: none;
}

/* Navigation */
#navigation {
    margin-bottom: 25px;
}

#navigation > a.back {
    color: #000;
    text-decoration: none;
}

#navigation > a.back:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    margin-top: 75px;
}

.notice, .about-us > a  {
    display:inline-block;
    font-size:14px;
    color: #777;
}

.about-us {
    float: right;
}

/* Admin */

.right, .left {
    display: inline-block;
    width: 50%;
    margin-bottom: 25px;
}

.right {
    float: right;
}

.left {
    float: left;
}

div.field { 
    display: block;
}

.scraped_list {
    margin-bottom: 50px;
}

#edit > input[name="title"] {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

#edit > select, #edit > input[type="date"] {
    display: block;
}

#edit > select {
    margin-bottom: 10px;
}

#edit > input[type="text"], #edit > input[type="checkbox"] {
    display: block;
    width: 100%;
}

#edit > input[type="date"] {
    color: #A9A9A9;
}

#edit > #cke_description {
    margin-top: 25px;
}

/* Alert */
#alert {
    border: 1px solid transparent;
    border-color: #ebccd1;
    background-color: rgb(242, 222, 222);
    line-height: 20px;
    background-color: rgb(169, 68, 66);
    padding: 10px;
    width: 50%;
    color: white;
    margin-bottom: 25px;
}

/* Scraped list */
#scraped {
    word-wrap: break-word;
    border-spacing: 10px;
    border-collapse: collapse
    table-layout:fixed;
    width: 100%;
}

#scraped > tbody > tr {
    border-top: thin solid; 
        border-bottom: thin solid;
}

th.check {
    width:5%;
}

th.company {
    width: 25%;
}

th.title {
    width: 60%;
}

th.status {
    width: 20%;
}

tr.scraped {
    cursor: pointer;
}

tr.scraped > th > span {
    font-weight: normal;
}

#scraped > tbody > tr {
    margin: 10px;
}

#scraped > tbody > tr > th > span {
    float: left;
}
