body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.header {
    margin-bottom: 25px;
    width: 100%;
    height: 250px;
    background: url('/assets/header-min.jpg') no-repeat;
    background-position: center; 
    background-size: cover;
}

.job-meta > ul {
    list-style-type: none; 
}

p.about-us {
    text-align: right;
}

a {
    color: #926837 !important;
}

a:hover {
    color: #6C4D28 !important;
}

input[type="text"]:focus {
    border-color: #926837 !important;
}

.button-primary {
    color: #ffffff !important;
    background-color: #926837 !important;
    border-color: #926837 !important;
}

.button-primary:hover {
    background-color: #6C4D28 !important;
    color: #ffffff !important;
}
