body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.header {
    margin-bottom: 25px;
    width: 100%;
    height: 250px;
    background: url('/assets/header-min.jpg') no-repeat;
    background-position: center; 
    background-size: cover;
}

.footer {
    margin-top: 50px;
    color: #d3d3d3;
}

.search, .welcome, .logo, .apply {
    margin-bottom: 25px;
}

.spinner {
    margin-left: 10px;
    position: relative; 
    top: 2px;
}

.search input {
    width: 100%;
}

img.preview.logo {
    width: 150px;
}

.job-meta > ul {
    list-style-type: none; 
}

.navigation {
    margin-bottom: 50px;
}

.board-admin, .scraped-jobs-admin {
    margin-bottom: 50px;
}

.new-buttons {
    margin-bottom: 50px;
}

p.about-us {
    text-align: right;
}

a {
    color: #926837 !important;
}

a:hover {
    color: #6C4D28 !important;
}

textarea[name="body"] {
    height: 300px;
}

input[type="text"]:focus {
    border-color: #926837 !important;
}

.button {
    padding: 0;
    width: 100%;
}

.button.no-border {
    border: 0;
}

.button-primary {
    color: #ffffff !important;
    background-color: #926837 !important;
    border-color: #926837 !important;
}

.button-primary:hover {
    background-color: #6C4D28 !important;
    color: #ffffff !important;
}
