{% extends "base.html" %}
{% block head %}<script src="/assets/ckeditor/ckeditor.js"></script>{% endblock %}
{% block title %}Rediger {{ company.name }}{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/admin">← Tilbake til administrasjon</a>
            </div>

            <form id="edit" method="post">

                <label for="name">Selskapsnavn</label>
                <input name="name" type="text" value="{{ company.name }}" />

                <label for="logo">Logo</label>
                <input name="logo" type="text" value="{{ company.logo.filename }}" />

                <input class="button" type="submit" value="Lagre" />

                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.replace('description'); 
                });
                </script>
            </form>

{% endblock %}
