{% extends "base.html" %}
{% block title %}Rediger selskap{% endblock %}
{% block head %}
<script type="text/javascript" src="/assets/search_result.js"></script>
{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

    {{ navigation.render_back_links(logged_in = True) }}

    <form method="get">
        <div class="row">
            <div class="eight columns offset-by-two">
                <div class="four columns">
                    <label for="name">Søk etter logo på nett</label>
                    <input name="query" type="text"/ value="{{ query }}">
                    <input class="button" type="submit" value="Søk" />
                </div>
                <div class="four columns">
                {% for search_result in search_results %}
                    <div class="result">
                        <div class="transparent_background">
                            <img class="search-result u-max-full-width" src="{{ search_result.url }}">
                        </div>
                        <p class="dimensions">{{ search_result.width }}px x {{ search_result.height }}px</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="eight columns offset-by-two">
            <hr>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="two columns offset-by-two">
                <label for="name">Selskapsnavn</label>
                <input name="name" type="text"/ value="{{ company.name }}">
            </div>

            <div class="two columns offset-by-two">
                <label for="logo">Logo</label>
                <input name="logo" type="text" value="{{ company.logo.filename }}"/>
            </div>
        </div>

        <div class="row">
            <div class="two columns offset-by-two">
                <label for="name">Farge</label>
                <input name="color" type="color"/ value="{{ company.logo.color }}">
            </div>

            <div class="two columns offset-by-two">
                <img class="preview logo" src="/{{ company.logo.url }}">
            </div>
        </div>
        
        <div class="row">
            <div class="two columns offset-by-two">
                <input class="button button-primary" type="submit" value="Lagre" />
            </div>
        </div>
    </form>
{% endblock %}
