{% extends "base.html" %}
{% block title %}Lag nytt selskap{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/admin">← Tilbake til administrasjon</a>
            </div>

            <form id="edit" method="post">

                <label for="name">Selskapsnavn</label>
                <input name="name" type="text" placeholder="Navn på selskapet" />

                <label for="logo">Logo</label>
                <input name="logo" type="text" placeholder="Filnavn/url til logo" />

                <input class="button" type="submit" value="Lagre" />
            </form>

{% endblock %}
