{% extends "base.html" %}
{% block title %}Lag nytt selskap{% endblock %}
{% block container %}
            <div id="navigation">
                <a class="back" href="/admin">← Tilbake til administrasjon</a>
            </div>

            <form id="edit" method="post">

                <div class="field">
                    <label for="name">Selskapsnavn</label>
                    <input name="name" type="text"/>
                </div>

                <div class="field">
                    <label for="logo">Logo</label>
                    <input name="logo" type="text" />
                </div>

                <input class="button" type="submit" value="Lagre" />
            </form>

{% endblock %}
