{% extends "base.html" %}
{% block title %}Lag nytt selskap{% endblock %}
{% block head %}
<script type="text/javascript" src="/search_result.js"></script>
{% endblock %}
{% block container %}
{% import 'macros/navigation.html' as navigation %}

    {{ navigation.render_back_links(logged_in = True) }}

    <form method="get">
        <div class="row">
            <div class="eight columns offset-by-two">
                <div class="four columns">
                    <label for="name">Søk etter logo på nett</label>
                    <input name="query" type="text"/ value="">
                    <input class="button" type="submit" value="Søk" />
                </div>
                <div class="four columns">
                {% for search_result in search_results %}
                    <img class="search-result u-max-full-width" src="{{ search_result.url }}">
                {% endfor %}
                </div>
            </div>
        </div>
    </form>

    <form method="post">
        <div class="row">
            <div class="two columns offset-by-two">
                <label for="name">Selskapsnavn</label>
                <input name="name" type="text"/ placeholder="BEKK, Visma, KnowIT">
            </div>

            <div class="two columns offset-by-two">
                <label for="logo">Logo</label>
                <input name="logo" type="text" placeholder="Filnavn eller URL"/>
            </div>
        </div>

        <div class="row">
            <div class="two columns offset-by-two">
                <input class="button button-primary" type="submit" value="Lagre" />
            </div>
        </div>
    </form>
{% endblock %}
